<mat-card>
    <mat-card-header>
        <mat-card-title>
            Projects
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions>
        <button mat-raised-button routerLink="/admin/project">Add New Project</button>
    </mat-card-actions>

    <mat-nav-list>
        <mat-list-item *ngFor="let project of projects | async" routerLink="{{project.id}}">
            <h3 matLine><strong>{{project.name}}</strong> </h3>
            <p matLine> {{project.business?.name}} -- {{project.student?.name}} </p>
            <p color="primary"><strong>{{project.status}}</strong></p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
</mat-card>