<mat-card>
    <mat-card-header>
        <mat-card-title>
            Projects
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <mat-nav-list>
        <mat-list-item *ngFor="let project of projects | async" routerLink="/project/{{project.id}}">
            <h3 matLine> {{project.name}} </h3>
            <p matLine> {{project.business?.name}} {{project.student?.name}} </p>
        </mat-list-item>
    </mat-nav-list>
</mat-card>