.form-container {
    display: flex;
    flex-direction: column;
  }

.form-container > * {
    width: 100%;
  }
  
.block-button {
    display: block;
    width: 100%;
    padding: 0px 8px 0px 8px;
    margin: 16px 0px 16px 0px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}

