<mat-card>
    <mat-card-header>
        <mat-card-title>
            Businesses
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-nav-list>
        <h2 mat-subheader>Incomplete</h2>
        <mat-list-item *ngFor="let business of businesses | async" routerLink="/business/{{business.id}}">
            <mat-icon>edit</mat-icon>
            <h3 matLine> {{business.name}} </h3>
            <p matLine> {{business.createdBy.name}} </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
        <h2 mat-subheader> Completed</h2>
        <mat-list-item *ngFor="let business of businesses | async" routerLink="/business/{{business.id}}">
            <mat-icon>check</mat-icon>
            <h3 matLine> {{business.name}} </h3>
            <p matLine> {{business.createdBy.name}} </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
</mat-card>