<div class="center-div">
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span class="fill-space"></span>
    <a *ngIf="!login" style="float: left;" mat-button routerLink="/login">Sign In</a>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="login">
      <img class="toolbar-photo" src={{photoURL}}>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item (click)='logout()'>Sign Out</button>
  </mat-menu>

  <router-outlet></router-outlet>
</div>