<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>explicit</mat-icon>
        <mat-card-title>Admin Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <button mat-raised-button routerLink="/business/form">Create New Business</button>
            <button mat-raised-button routerLink="/project">Create New Project</button>
        </div>
        <div>
            <button mat-raised-button routerLink="/businesses">Businesses</button>
            <button mat-raised-button routerLink="/students">Students</button>
            <button mat-raised-button routerLink="/projects">Projects</button>
            <button mat-raised-button routerLink="/events">Events</button>
            <button mat-raised-button routerLink="/users">Users</button>
        </div>
    </mat-card-content>
</mat-card>