<mat-sidenav-container>
    <mat-sidenav #helpSidenav mode="over" position="end" [fixedInViewport]="true">
        <app-student-help (closeButtonClicked)="helpSidenav.close()"></app-student-help>
    </mat-sidenav>

    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar>school</mat-icon>
            <mat-card-title>Student Dashboard</mat-card-title>
            <span class="fill-space"></span>
            <button mat-icon-button aria-label="Help" (click)="helpSidenav.open()">
                <mat-icon>help</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Start wizard</button>
        </mat-card-actions>
    </mat-card>
</mat-sidenav-container>