<mat-card>
    <mat-card-header>
        <mat-card-title>
            Business Details
        </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="business | async as bus">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon fxFlex="40px">business_center</mat-icon>
            <h3 fxFlex="auto">Basic Business Information</h3>
        </div>
        <div fxLayout="row wrap" class="no-text-margins bottom-margins" fxLayout.xs="column">
            <div fxFlex="30">
                <p class="label">Business Name</p>
                <p>{{bus.name}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">ABN Number</p>
                <p>{{bus.abn}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Address</p>
                <p>{{bus.address}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Website</p>
                <p>{{bus.website}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Industry</p>
                <p>{{bus.industry}}</p>
            </div>
            <div fxFlex="100">
                <p class="label">Short description</p>
                <p>{{bus.description}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon fxFlex="40px">group</mat-icon>
            <h3 fxFlex="auto">Employees</h3>
        </div>
        <div fxLayout="row wrap" class="no-text-margins bottom-margins" fxLayout.xs="column">
            <div fxFlex="30">
                <p class="label">Full time</p>
                <p>{{bus.fteNumber}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Additional</p>
                <p>{{bus.additionalEmployees}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon fxFlex="40px">supervisor_account</mat-icon>
            <h3 fxFlex="auto">Supervisor Information</h3>
        </div>
        <div fxLayout="row wrap" class="no-text-margins bottom-margins" fxLayout.xs="column">
            <div fxFlex="30">
                <p class="label">Supervisor name</p>
                <p>{{bus.supervisor}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Role</p>
                <p>{{bus.supervisorRole}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Experience</p>
                <p>{{bus.supervisorExperience}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Start Date</p>
                <p>{{bus.startDate.seconds * 1000 | date}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">End Date</p>
                <p>{{bus.endDate.seconds * 1000 | date}}</p>
            </div>
            <div fxFlex="30">
                <p class="label">Mentor Available?</p>
                <p>{{bus.isMentorAvailable?'Yes':'No'}}</p>
            </div>
            <div fxFlex="30" *ngIf="bus.isMentorAvailable">
                <p class="label">Mentor Name</p>
                <p>{{bus.mentor}}</p>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon fxFlex="40px">face</mat-icon>
            <h3 fxFlex="auto">Needs a student because...</h3>
        </div>
        <div fxLayout="column" class="no-text-margins bottom-margins">
            <mat-checkbox [(ngModel)]="bus.why.completeProject" [disabled]="true">
                To complete a project I can’t afford to employ or dedicate time.
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="bus.why.testStudent" [disabled]="true">
                To test whether a student might be a good fit for our organisation to work long term
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="bus.why.gainIdeas" [disabled]="true">
                To gain new ideas
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="bus.why.developMentors" [disabled]="true">
                To develop mentors and leaders within my business
            </mat-checkbox>
            <br>
            <div *ngIf="bus.why.other">
                <p class="label">Other reason</p>
                <p>{{bus.why.other}}</p>
            </div>
        </div>
        <br>
        <div fxLayout="row" fxLayoutGap="20px">
            <button type="button" mat-raised-button color="primary" routerLink="/business/form/{{businessId}}">Edit
                Details</button>
        </div>
    </mat-card-content>
</mat-card>
<!-- <pre>{{business | async | json}}</pre> -->