@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-app-primary: (
    50 : #efebf4,
    100 : #d7cee4,
    200 : #bcadd2,
    300 : #a18cc0,
    400 : #8c74b3,
    500 : #785ba5,
    600 : #70539d,
    700 : #654993,
    800 : #5b408a,
    900 : #482f79,
    A100 : #d6c2ff,
    A200 : #b38fff,
    A400 : #915cff,
    A700 : #8042ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-app-accent: (
    50 : #fae5f1,
    100 : #f3bddb,
    200 : #ec91c3,
    300 : #e465ab,
    400 : #de4499,
    500 : #d82387,
    600 : #d41f7f,
    700 : #ce1a74,
    800 : #c8156a,
    900 : #bf0c57,
    A100 : #ffebf2,
    A200 : #ffb8d2,
    A400 : #ff85b3,
    A700 : #ff6ba3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($mat-app-primary);
$app-accent:  mat-palette($mat-app-accent);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);

  $primary: map-get($app-theme, primary);

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    font-weight: bold;

    .mat-button-toggle-label-content{
        color: $light-primary-text;
    }
  }
}


  $accent: map-get($app-theme, accent);





// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wil-app-primary: mat-palette($mat-app-primary);
$wil-app-accent:  mat-palette($mat-app-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wil-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wil-app-theme: mat-light-theme($wil-app-primary, $wil-app-accent, $wil-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($wil-app-theme);


// Include the mixin
// @include LAST mix-app-theme, must be added after @include angular-material-theme if you use a custom theme //

@include angular-material-theme($app-theme);
@include mix-app-theme($app-theme);
