/* You can add global styles to this file, and also import other style files */
@import './app-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

.no-text-margins {
    h2 {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}
