<mat-sidenav-container>
    <mat-sidenav #helpSidenav mode="over" position="end" [fixedInViewport]="true">
        <app-referrer-help (closeButtonClicked)="helpSidenav.close()"></app-referrer-help>
    </mat-sidenav>

    <mat-card>
        <mat-card-header>
            <mat-icon *ngIf="!logoUrl" mat-card-avatar>supervisor_account</mat-icon>
            <mat-card-title *ngIf="!logoUrl">Referrer Dashboard</mat-card-title>
            <img *ngIf="logoUrl" height="50" [src]="logoUrl" alt="Logo">
            <span class="fill-space"></span>
            <button mat-icon-button aria-label="Help" (click)="helpSidenav.open()">
                <mat-icon>help</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
            <br>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start">
                <app-dashboard-button [spec]="refButton" fxFlex="30" *ngFor="let refButton of refButtons">
                </app-dashboard-button>
            </div>
            <br>
            <h3>Activities</h3>
            <mat-divider></mat-divider>
            <mat-list>
                <mat-list-item *ngFor="let activity of recentActivities">
                    <mat-icon mat-list-icon>event</mat-icon>
                    <h4 mat-line>{{activity.name}}</h4>
                    <p mat-line> {{activity.updated | date}} </p>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
</mat-sidenav-container>